apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  labels:
    app: nginx
  annotations:
    container.apparmor.security.beta.kubernetes.io/nginx: unconfined
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      volumes:
      - name: host-vol
        hostPath:
          path: /etc
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80
          hostPort: 80
        resources:
          requests:
            memory: "300Mi"
            cpu: "500m"
          limits:
            memory: "2800Mi"
            cpu: "5000m"
        securityContext:
          privileged: true
          capabilities:
            add:
            - SYS_ADMIN
